---
import SettingsLayout from "@layouts/SettingsLayout.astro";
---
<SettingsLayout active="links" title="Socials">
    <div>
        <p> Follow us on other Platforms! </p>
            <li> YouTube: @ZayaansGameCorner </li>
            <li> Discord: 
                <a href="https://discord.gg/aKVv7jn8V6" target="_blank" rel="noopener noreferrer" class="underline hover:text-(--accent) duration-300 transition-colors"> 
                    Join Now! 
                </a> 
            </li>
        <ul>
    </div>
</SettingsLayout>
